.successful {
    min-width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color-3);
}

.successfulMessage {
    text-align: center;
    font-family: var(--display-title-font-family);
    font-size: var(--display-title-font-size);
    font-weight: var(--display-title-font-family);
    color: green;
    opacity: 0.6;
}

.seconds {
    color: var(--primary-color-2)
}

@media screen and (max-width: 767px) {
    .successful {
        max-width: 100vw;
        min-height: 100vh;
    }
}