.booking-form {
    width: 1240px;
    min-height: 850px;
    padding: 39px 30px;
    border: 3px solid black;
    border-radius: 16px;
    box-shadow: 8px 8px 4px;
    

}

.booking-form > .form-label-input {
    max-width: 460px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
}

.booking-form > .form-label-input > label, .booking-form sup, .inputErrorMessage {
    font-family: var(--paragraph-text-font-family);
    font-size: var(--paragraph-text-font-size);
    font-weight: var(--paragraph-text-font-weight);
}
.booking-form sup, .inputErrorMessage {
    color: red;
}

.inputErrorMessage {
    margin-top: 10px;
    font-size: 14px;
}

.booking-form > .form-label-input input, .dropdown-menu button{
    min-width: 150px;
    border-radius: 16px;
    border: none;
    padding: 10px 15px;
    background-color: #EDEFEE;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25)
}




.form-label-input > .userInput {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* .form-label-input > input {
    position: relative;
} */

.dropdown-content button,  #numberOfGuests, #bookedOccasion {
    text-align: center;
    font-family: var(--highlight-text-font-family);
    font-size: var(--highlight-text-font-size);
    font-weight: var(--highlight-text-font-weight);
}


.dropdown-menu > button{
        /** for the dropdown indicator */
        appearance: none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 1rem center;
        background-size: 1em;


}

.dropdown-menu > .clicked {
    border-radius: 16px 16px 0 0;
    border-bottom: 5px solid black;
}


.dropdown-content {
    display: flex;
    flex-direction: column;
}


.dropdown-content button {
    border-radius: 0;
    border-bottom: 1px solid black;
}

.dropdown-content button:hover {
    background-color: grey;
}

.submit-btn {
    width: 1152px;
    height: 60px;
    margin-top: 100px;
}


button[type="submit"] {
    display: block;
    width: 144px;
    height: 59px;
    background-color: #EDEFEE;
    border-radius: 16px;
    font-size: var(--section-categories-font-size);
    font-weight: var(--section-categories-font-weight);
    border: none;
    box-shadow: 0 8px 4px rgba(0,0,0,0.25);
    margin: auto;
    
}

button[type="submit"]:hover {
    background-color: var(--secondary-color-4);
    color: var(--secondary-color-3)
   
}


 .submit {
    text-decoration: none
}

 button[type="submit"]:disabled:hover {
    background-color: #EDEFEE;
    color: grey;
    border: 3px solid red

}