.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 550px;
    background-color: grey;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
   
    cursor: pointer;

}

.nav-footer > .link {
    color: rgba(0,0,0,0.5);
    text-decoration: none;
    display: inline-block;
    width: 50%;
}

.nav-footer > .link:hover {
    background-color: lightcoral;
    border-radius: 8px;
    padding: 10px;
}