.header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    height: 150px;
    border: 3px solid black;
}

nav {
    display: flex;
    column-gap: 50px;
}

nav > .link {
    display: inline-block;
    text-decoration: none;
    color: rgb(0,0,0);
    font-size: 1rem;
    font-style: Karla;
    font-weight: bolder;
}

/* nav > .link:visited {
    color: purple;
} */

nav > .link:hover {
    background-color: lightcoral;
    border-radius: 8px;
    padding: 10px;
}