.header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

nav {
    display: flex;
    column-gap: 50px;
}

nav > .link, .nav-footer > .link  {
    font-size: var(--section-categories-font-size);
    font-style: var(--section-categories-font-style);
    font-weight: var(--section-categories-font-weight);
    text-decoration: none;
}

nav > .link {
    color: var(--secondary-color-4);
}

/* nav > .link:visited {
    color: purple;
} */

nav > .link:hover {
    background-color: lightcoral;
    border-radius: 8px;
    padding: 10px;
}