.testimonials {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 42px;
    background-color: #F4CE14;
}

.testimonials > .section-title {
    text-align: center;
    font-family: var(--section-title-font-family);
    font-size:  var(--section-title-font-size);
    font-weight: var(--section-title-font-weight);
}



.testimonials-card {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 19px;
   
}

.testimonial-card {
    border: 3px solid black;
    max-width: 250px;
    height: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    box-shadow: 8px 8px;
    background-color: #efefef;
}

.rating > .checked {
    color: orange;
}

.user-alignment {
    display: flex;

}



.user-alignment > .user-photo {
    width: 75px;
    height: 75px;
    border: 3px solid black;
    margin:0;
}

.user-alignment > .user-name {
    width: 70%;
    text-align: center;
    place-self: center;
    font-family: var(--card-title-font-family);
    font-size: var(--card-title-font-size);
    font-weight: var(--card-title-font-weight);
}

.testimonial-card> .testimonial-description {
    margin-top: 20px;
    overflow-y: hidden;
    font-family: var(--paragraph-text-font-family);
    font-size: var(--paragraph-text-font-size);
    font-weight: var(--paragraph-text-font-weight);
}

.testimonial-card > .testimonial-description:hover {
    overflow-y: auto;
}