/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {

  display: grid;
  min-width: 1440px;
  max-height: 2900px;
  grid-template-areas: "head"
                       "main"
                       "footer";
  grid-template-rows: 150px 1fr 450px
  
}

Header {
  grid-area: head;
}

Main {
  grid-area: main;
}

Footer {

  grid-area: footer;
}





/* Additional Styles for Mobile */
@media screen and (max-width: 767px) {
  .App {
    max-width: 100vw;
    min-height: 1200px;
    grid-template-rows: minmax(700px, auto) 1fr auto;
  }


  Header, Main, Footer{
    max-width: 100vw;
  }

  

}