* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary-color-1: #495E57;
  --primary-color-2: #F4CE14;
  --secondary-color-1: #EE9972;
  --secondary-color-2: #FBDABB;
  --secondary-color-3: #EDEFEE;
  --secondary-color-4: #333333;

  --display-title-font-family: 'Markazi Text', serif;;
  --display-title-font-size: 64pt;
  --display-title-font-weight: medium;
  --subtitle-font-family: 'Markazi Text', serif;;
  --subtitle-font-size: 40pt;
  --subtitle-font-weight: normal;
  --lead-text-font-family: 'Karla', sans-serif;;
  --lead-text-font-size: 18pt;
  --lead-text-font-weight: medium;
  --section-title-font-family: 'Karla', sans-serif;;
  --section-title-font-size: 40pt;
  --section-title-font-weight: bolder;
  --section-categories-font-family: 'Karla', sans-serif;;
  --section-categories-font-size: 16pt;
  --section-categories-font-weight: bolder;
  --card-title-font-family: 'Karla', sans-serif;;;
  --card-title-font-size: 18pt;
  --card-title-font-weight: bold;
  --paragraph-text-font-family: 'Karla', sans-serif;;
  --paragraph-text-font-size: 16pt;
  --paragraph-text-font-weight: normal;
  --highlight-text-font-family: 'Karla', sans-serif;;
  --highlight-text-font-size: 16pt;
  --highlight-text-font-weight: medium;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
